.colorsample {
  line-height: 3em;
  text-transform: capitalize;
}
.colorsample .swatch {
  display: inline-block;
  height: 2em;
  width: 2em;
  margin-right: 1em;
  vertical-align: middle;
}
.primary1 {
  background-color: #f8c260;
}
.primary2 {
  background-color: #796e5b;
}
.primary3 {
  background-color: #523604;
}
.primary4 {
  background-color: #ffeac4;
}
.primary5 {
  background-color: #fffaf2;
}
.secondaryA1 {
  background-color: #ddc978;
}
.secondaryA2 {
  background-color: #79735b;
}
.secondaryA3 {
  background-color: #524304;
}
.secondaryA4 {
  background-color: #fff3c4;
}
.secondaryA5 {
  background-color: #fffcf2;
}
.secondaryB1 {
  background-color: #dda278;
}
.secondaryB2 {
  background-color: #79685b;
}
.secondaryB3 {
  background-color: #522404;
}
.secondaryB4 {
  background-color: #ffdcc4;
}
.secondaryB5 {
  background-color: #fff7f2;
}
