---
---

/** Controls */
#controls {
	border: 1px solid red;
	padding: 1em;
	margin-bottom: 1em;
}

/** Problems */
#problems {
	display: flex;
	flex-flow: row wrap;
}

#problems .problem {
	border: 1px solid brown;
}

#problems .question {
	padding: 1em 4em;
}

/** Solutions */
#solutions {
	display: none;
}
