/** Controls */
#controls {
	border: 1px solid red;
	padding: 1em;
	margin-bottom: 1em;
	@media print {
		display: none;
	}
}

/** Problems */
#problems {
	display: flex;
	flex-flow: row wrap;
	@media print {
		justify-content: flex-start;
	}

	.questionBlock {
		border: 1px solid $color-dark-1;
		padding: 0.3em;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 15em;
		min-height: 10em;
		display: grid;
		column-gap: 2px;
		row-game: 0;

		@media print {
			flex-basis: 10em;
			border: none;
		}

		.questionNumber {
		}

		.question {
			font-size: 130%;
			margin-left: 2em;
			@media print {
				text-align: left;
			}
		}

		.reveal {
			align-self: end;
			@media print {
				display: none;
			}
		}

		.solution {
			font-size: 130%;
			margin-left: 2em;
			@media print {
				display: none;
			}
		}
		.solution::before {
			content: "= "
		};
	}

	@media print {
		border-bottom: 1px solid $color-dark-1;
	}
}

/** Solutions */
#solutions {
	display: none;

	@media print {
		display: block;
		display: flex;
		flex-flow: row wrap;
		font-size: 10pt;
		justify-content: flex-start;

		.solution {
			flex-basis: 10em;
		}
	}
}
